$blue: rgb(225, 75, 32);

.home>header {
  background-size: cover !important;
  background: url("../images/home-header-bg.jpg") 0 50%;

  .outer-wrapper {
    padding: 100px 60px;
  }

  .title {
    background: none;
    border: none;
    box-shadow: none;
    margin-left: 0;
    width: auto;

    &>.heading-group {
      &>h1 {
        color: white;
        font-size: 2.5em;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      }
      &>p {
        color: white;
        font-size: 1.3em;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

body:not(.is-authenticated) {
  .header-global {
    .wrapper-header {
      text-align: right;
    }
    .nav-global, .nav-courseware {
      display: inline-block;
      float: none;
    }
  }
}
